.path-items > span{
    flex-direction: row;
    padding: 0 27px 0  ;
    border: 0ch;
}

.section-title{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--ligh-blue);
}

.hospital-info-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.hospital-info-container > div{
    text-align: center;
    margin: 10px;
    width: 500px;
}
.types-hos{
    display: flex;
}
.types-hos>div{
    text-align: center;
    padding-right: 10px;
    padding-left: 100px;
}
.type1{
    display: inline-block;
        background-color:#D5EBFF ;
        /* margin: 50px;
        width: 80px;
        height: 51px;
        padding: 5px;
        block-size: 30px;
        border: 1px solid blue;      */
        
     
}
.type2{
    display: inline-block;
    background-color:#D5EBFF ;
}


.EmergencySection1{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    padding: 20px;

}
.EmergencySection2{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    gap: 60px;
}
.names{
    width: 159px;
height: 40px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 112%;
color: #3E80BC;
}

.count{
    width: 199px;
height: 56px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 200%;
color: #0D4F8C;
flex: none;
order: 2;
flex-grow: 0;
}