.breadcrumItem {

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

}



.breadcrum-container{
    padding: 10px 30px;
}

.breadcrumItem-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.breadcrumItem-container > * {
    margin-right: 10px;
    color: var(--ligh-blue);
}

.active-breadcrumItem{
    color: var(--title);
    font-weight: 500;
}

.link {
    text-decoration: none;
}