

.login-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
    padding: 10px 0px 10px 0px;
}

.login-main > div {
    /* position: absolute; */
    /* background-color: #D5EBFF; */
}

.login-items > span{
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D5EBFF;

    gap: 10px;
    font-weight: 600;
    font-size: 17px;
    line-height: 38px;
    border: 2px solid var(--subtitle);
 width: 130px;
 height: auto;
    padding :10px 30px  ;
    color: var(--subtitle);
    cursor: pointer;
    
}

.login-items{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin-left: 333px;
    
  
    align-items: center;
    flex-direction: row;
    
}
/* .login-items > span:not(:nth-child(1)){
    padding-left: 25px;
    padding-right: 25px;
} */

.patient-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: var(--ultra-light-blue-bg );
}
.patient-container-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.patient-container-2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
}

.hospital-login-container{
    display: flex;
    background: var(  --ultra-light-blue-bg  );
   
    align-items: center;
    flex-direction: column;

}
.hospital-id{
    padding: 10px;
}
.Hospital-password{
    padding: 10px;
}
.submit{
    padding: 20px;
}


.hospital-id-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}
