.login-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.login-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
    height: 100%;
    border: 2px solid var(--subtitle);
    background-color: var(--ultra-light) ;
    
}


.login-items>span {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D5EBFF;

    gap: 10px;
    font-weight: 600;
    font-size: 17px;
    line-height: 38px;
    border: 2px solid var(--subtitle);
    width: 130px;
    height: auto;
    padding: 10px 30px;
    color: var(--subtitle);
    cursor: pointer;

}

.login-items {
    display: flex;
    justify-content: space-evenly;
    width: max-content;
    /* margin-left: 333px; */


    align-items: center;
    flex-direction: row;

}

.login-items>* {
    width: 15vw;
    padding: 5px 25px;
    background-color: var(--light-blue-bg);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 38px;
    color: var(--text-blue);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.login-items>*:not(:last-child) {
    margin-right: 15px;
}

.active-loginItem {
    background-color: var(--title);
    color: var(--light-blue-bg);
}

/* .login-items > span:not(:nth-child(1)){
    padding-left: 25px;
    padding-right: 25px;
} */

.patient-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: var(--ultra-light-blue-bg);
}

.patient-container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.patient-container-2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
}

.hospital-login-container {
    display: flex;
    background: var(--ultra-light-blue-bg);

    align-items: center;
    flex-direction: column;

}

.hospital-id {
    padding: 10px;
}

.Hospital-password {
    padding: 10px;
}

.submit {
    padding: 20px;
}


.hospital-id-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}

.phoneNoInput , .passInput {
    background-color: var(--light-blue-bg);
    padding: 10px 45px 10px 15px;
    border: none;
    outline: none;
    color: var(--text-blue);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    margin-right: 30px;
}

.phoneNoInput::placeholder {
    color: var(--text-blue);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
}

.getOTPbtn {
    border: none;
    outline: none;
    background-color: var(--light-blue-bg);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: rgb(53, 172, 53);
    padding: 0px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.loginText {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--title);
}

.OTPinput{
    height: 40px;
    width: 420px;
    padding: 30px;
    letter-spacing: 65px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--title);
    overflow-x: hidden;

}

.login-content-container{
    width: 60%;
    height: 50%;
}

.patient-container > button{
    margin-top: 30px;
}