
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: fit-content;
    max-width: 1150px;
    min-width: 1100px;
    padding: 20px 30px;
    width: 80%;
    margin-top: 50px;
    border-radius: 4px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--ultra-light);
    font-family: var(--primary-font);
}

 .card-img{
    display: inline-block;
    background-image: url("../../Assets/Images/hospImage.png");
    background-size: cover;
    width: 17em;
    height: 17em;
    opacity: 0.8;

} 

.card-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card-info-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.card-info-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 160px;
    width: 150px;
    margin-right: 60px;
    color: var(--subtitle)
}

.card-info-box > span {
    margin: 14px 0px;
    height: 38px;
    font-weight: 600;
    font-size: 16px;
    line-height: 132%;
}

.card-info-box > p {
    font-size: 1.5em;

}

.card-info-box:nth-child(4){
    margin-right: 0;


}



.card-info-box-text{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 112%;
    text-align: center;
    margin: 0%;
}

.card-hosp-name{
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 77px;
    text-align: left;
    margin: 0%;
    color: var(--title);
}

.card-address{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin: 0%;
    text-align: left;
    
    color: var(--subtitle);
}

.card-hosp-text{
    display: block;
    width: 100%;
    padding-left: 10px;
}