:root{
  --title : #0D4F8C;
  --subtitle : #3E80BC;
  --text-blue : #4993D7;
  --ligh-blue : #ADD7FF;
  --light-blue-bg : #D5EBFF;
  --ultra-light : rgb(213, 235, 255, 0.2);
  --primary-font : 'Poppins', sans-serif;
}

.border{
  border: 2px solid black
}


.bed-icon{
  display: inline-block;
  width: 42px;
  height: 24px;
  padding: 12px 15px;
  border-radius: 3px;
  background-color: var(--ultra-light-blue-bg);
}


.red{
  color: #FB4343;
}

.green{
  color: #43BD2F;
}