:root{
  --title : #0D4F8C;
  --subtitle : #3E80BC;
  --text-blue : #4993D7;
  --ligh-blue : #ADD7FF;
  --light-blue-bg : #D5EBFF;
  --ultra-light : rgb(213, 235, 255, 0.2);
  --primary-font : 'Poppins', sans-serif;
}

.border{
  border: 2px solid black
}

.icon{
  color: var(--title);
  transform: scale(1.4);
}

.btn{
  background-color: var(--title);
  color: var(--light-blue-bg);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  border: none;
  padding: 5px 25px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-sm{
  background-color: var(--title);
  color: var(--light-blue-bg);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  border: none;
  padding: 2px 25px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-inverse{
  background-color: var(--light-blue-bg);
  color: var(--title);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  border: none;
  padding: 5px 25px;
  border-radius: 3px;
  cursor: pointer;
}


.bed-icon{
  display: inline-block;
  width: 42px;
  height: 24px;
  padding: 12px 15px;
  border-radius: 3px;
  background-color: var(--ultra-light-blue-bg);
}


.red{
  color: #FB4343;
}

.green{
  color: #43BD2F;
}

.search-box{
  display: flex;
  align-items: center;
  flex-direction: column;
}

